.library-section {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.library-section h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.filter-buttons {
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #6200ea;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-btn.active {
    background-color: #3700b3;
}

.filter-btn:hover {
    background-color: #3700b3;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Affiche 4 colonnes */
    gap: 15px;
}

.library-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.library-item img {
    width: 100%;
    height: auto;
}

.library-item p {
    padding: 10px;
    font-size: 1.2em;
}

.library-item:hover {
    transform: scale(1.05);
}

/* Responsivité */
/* Responsive Styles */
@media (max-width: 768px) {
    .library-section h2 {
        font-size: 2em;
    }

    .filter-btn {
        padding: 8px 10px;
    }

    .library-item p {
        font-size: 1em;
    }
    .library-grid {
        justify-content: center;
    }

    .library-item {
        width: 80%; /* Largeur plus grande sur mobile */
    }

    .search-bar {
        width: 90%; /* Ajustez la barre de recherche */
    }
}
@media (max-width: 600px){
    .library-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Affiche 4 colonnes */
        gap: 15px;
    }
}


@media (max-width: 480px) {
    .library-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Affiche 4 colonnes */
        gap: 15px;
    }
    .library-section h2 {
        font-size: 1.5em; /* Réduisez la taille du titre */
    }

    .filter-btn {
        padding: 8px 10px; /* Ajustez le padding des boutons */
        font-size: 0.9em; /* Réduisez la taille du texte */
    }

    .library-item {
        width: 100%; /* Prendre toute la largeur sur les très petits écrans */
    }
}