.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    background-color: #f8f9fa;
    overflow: hidden;
}

.container {
    max-width: 600px;
}

.welcome-text {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 20px;
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.book {
    color: #333;
}

.track {
    color: #007bff;
}

.highlight {
    color: #28a745;
    display: block;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cta-button:first-child {
    background-color: #007bff;
    color: white;
}

.cta-button.secondary {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 600px;
}

/* .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
} */
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0; /* Initialement caché */
    transform: translateY(20px); /* Décalage vers le bas */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animation douce */
}

.image-item img:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .container {
        margin-bottom: 40px;
    }

    .cta-buttons {
        justify-content: center;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 36px;
    }

    .image-grid {
        display: none; /* Cache la grille d'images sur les écrans très étroits */
    }
}
@media (max-width: 600px) {
    .main-title {
        font-size: 28px;
    }

    .description {
        font-size: 14px;
    }

    .cta-button {
        width: 100%;
    }

    .image-grid {
        display: none; /* Cache la grille d'images sur les écrans très étroits */
    }
    .container{
        text-align: left;
    }
}